<h1>Separating the game world logic from its rendering</h1>

<p>I do not possess the title of game developer, for my main focus is on creating enterprise software that remains maintainable and scalable.
   There&#39;s a number of principles that are very logical in that realm.
   Not abiding by those principles makes me feel naughty, so I tried to apply some of them during my first game development experience.</p>
<p>In this devlog I&#39;ll share the approach I used to separate game logic from game rendering.</p>

<h2>The game world</h2>
<p>I&#39;ll be using the simple game &quot;deep dive&quot; as an example, let&#39;s get familiar with how it works (or give it a quick try <a href="https://drareeg.itch.io/deepdive">here</a>)

   The player controls a diver that needs to reach the bottom of the sea.
   The diver has two challenges:
    <ul>
    <li>every second underwater costs some oxygen</li>
    <li>fish are swimming around that cost oxygen on collision</li>
</ul>
<p>The game uses a level system, each level the diver needs to go deeper and spawns more and faster fish</p>

<h2>The two concerns</h2>
<p>We&#39;ll be separating the project into two concerns: the domain and the rendering.
   The separation happens by stating that each class that we create, will only belong to one of those concerns.
   This is helped by having a separate package for each. </p>

<h3>Concern 1: the domain</h3>
<p>The classes that belong to the domain encapsulate the rules and mechanics of the diver and his oxygen consumption, the fish and their movement, ...

   The domain doesn&#39;t know anything about rendering, it doesn&#39;t even know that it is being rendered. It could be used in a headless way.</p>
<p>I chose for a world that changes state using a ticking system.
   Each tick, all actors (diver and fish) are asked what they want to do, and their desired action gets taken into account for creating the next state.</p>
<img src="https://iili.io/JCnRRig.png"></img>

<h3>Concern 2: the rendering</h3>
<p>The rendering concern focuses on visualizing the game state without delving into the underlying logic.
   This separation ensures that rendering classes do not influence the domain&#39;s behavior.</p>

<h3>Communication between the two</h3>
<p>Obviously the rendering has to know SOMETHING about what&#39;s happening in the domain, how else could it render what&#39;s going on?
   For the rendering to know where to draw the diver, it needs to know where the diver is located.</p>
<p>The strategy we will look at is a listener based approach (not that different from an event driven approach).
   We will wire up the classes so that the rendering model is a listener of the domain, and the domain will tell the listener what is happening.</p>
<p>We define a Listener interface in the domain as follows:</p>
<p>
<pre><code>
    interface WorldListener {
        fun onDiverSpawn(location: Vector3)
        fun diverMoved(xDelta: Int, yDelta: Int)
    }</code>
</pre>
The implementation of this interface, will reside in a rendering class.

<pre>
    class WorldRenderModel : WorldListener {
        override fun onDiverSpawn(spawnLocation: Vector3) {
            diver = DiverRenderModel(spawnLocation.x, spawnLocation.y)
        }

        override fun diverMoved(xDelta: Int, yDelta: Int) {
            diver.x += xDelta
            diver.y += yDelta
        }
    }

</pre>
When creating a World Object, we pass the WorldRenderModel as WorldListener.
<p><pre>
    val worldRenderModel = WorldRenderModel()
    val world = World(worldRenderModel)
    </pre></p>
<p>When in the state of the domain, the diver moved position, the render model will be told by the domain through this listener.
   We stay true to the desire of the domain not knowing about the rendering, and being able to function without rendering: the domain only feeds information in the listener, and doesn&#39;t care whether something happens with that info. </p>
<img src="https://iili.io/JCnRIDP.png"></img>


<h3>User interaction</h3>
<p>For out game to be a game, the user has to be able to interact with it. It&#39;s not the domains concern to handle user input, we want to keep the domain as pure as possible.
   We should be able to protect the domain from knowing whether the diver is being controlled by keyboard (and which keys exactly), or mouse.</p>
<p>Doing this allowed me to add different controller options without having to change any code in the domain.</p>
<h3>Open source</h3>
<p>The entire codebase of the game can be found <a href="https://gitlab.com/g369/deepdive">here</a>.
    
   This codebase is far from perfect, it was made during the first gamejam I joined, and in the eye of a deadline shortcuts were made.</p>
<h3>Shoutouts</h3>
<p>Thanks to my wife for drawing the game art in a matter of minutes.<br>
       Thanks to the community of libGdx for creating a game library that doesn&#39;t force anything, but does make rendering easier.<br>
   Thanks to the creators of liftoff for helping me get up and running with a Kotlin project that is deployable as a HTML+js webpage.</p>
